.upload-container {
  display: flex;
  height: 100vh; /* Full height of viewport */
  width: 500vh
}

.upload-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6CC5E6; 
  padding: 20px;
  border-right: 1px solid #6CC5E6;
}

.upload-section h2 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
}

form input[type="file"] {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button[type="submit"] {
  padding: 10px 20px;
  background-color: #0c0c0c;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

form button[type="submit"]:hover {
  background-color: #f31a1a;
}
.uploaded-image {
  margin-top: 20px;
  text-align: center;
}

.uploaded-image img {
  max-width: 100%;
  max-height: 400px; /* Example height limit, adjust as needed */
  width: auto;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.analysis-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #6CC5E6;
}

.analysis-report {
  max-width: 80%; /* Adjust as needed */
  text-align: center;
}

.analysis-report h2 {
  font-size: 1.5rem;
  margin-bottom: 100px;
  color:#0693e3;
}

.analysis-report p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color:black;
}
.analysis-report h5 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color:black;
  font-weight: bold;
}


.analysis-report img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.history-button-container {
  width: 50%; /* Match the max-width of analysis section */
  position: absolute;
  bottom: 20px; /* Adjust as needed to create some spacing from the bottom */
  display: flex;
  justify-content: left;
}

.history-button-container button {
  background-color: #414243;
  color: white;
  font-size: 1.2rem;
  padding: 20px;
  padding-bottom: 30px ;
  width: 100%; /* Full width of the container */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.history-button-container button:hover {
  background-color: #404040;
}